body {
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}

.block {
    display: flex;
    align-items: center; /* Позиціонування по вертикалі */
    justify-content: space-around; /* Позиціонування по горизонталі */
}

.block > div {
    background-color: rgba(223, 108, 108, 1);
    width: 120px;
    margin: 10px; /* Відступи між блоками */
    padding: 10px;
    text-align: center; /* Центрування тексту всередині блоку */
    font-size: 25px;
}
